.shop-page {
    & &__title {
        font-size: 2rem;
        text-transform: uppercase;
    }

    & &__categories {
        margin: 1rem 0;
        display: flex;
        gap: 0.5rem;
    }

    & &__category {
        flex-grow: 1;
        padding: 0.5rem;
        background-color: transparent;
        border: 1px solid $border;
        color: black;
        font-size: inherit;
    }

    & &__category-active {
        @extend .shop-page__category;
        background-color: $category-bgc;
    }

    & &__category-name {
        font-size: 1.5rem;

    }

    @media screen and (min-width: 820px) {
        & &__products {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }

    @media screen and (min-width: 1440px) {
        & &__category {
            font-size: 1.5rem;
        }

        & &__category-name {
            font-size: 2rem;

        }

        & &__products {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }

    @media screen and (min-width: 1600px) {
        & &__products {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}